.mobile-wrapper{
  width: 100%;
}

.mobile-nav-container{
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
/*toggle*/
.mobile-item{
  background: transparent;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.mobile-item .icon-bar{
  background: #333;
  border-color: transparent;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  transition: all 0.3s;
}
.toggle-active .toggle-icon-1{
  transform:translateY(7px) rotate(45deg);
}
.toggle-active .toggle-icon-2{
  opacity: 0;
}
.toggle-active .toggle-icon-3{
  transform:translateY(-7px) rotate(-45deg);
}

.mobile-item-nav-list{
  padding: 0 10px;
}

.mobile-nav-info{
  height: 36px;
  line-height: 36px;
}

.mobile-nav-name{
  color: #656565;
}
.mobile-active .mobile-nav-name{
  color: #333333;
  font-weight: 700;
}
