.item-header{
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-body, .item-body-table, .item-body-page{
  width: 100%;
}
.item-body-page{
  text-align: center;
  padding: 10px 0;
}

.item-dialog .item-dialog-submit{
 text-align: right;
}

.item-edit{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  z-index: 30;
}
.item-edit-container{
  padding: 20px 20px 20px 20px;
  width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 35;
  background: #ffffff;
  border-radius: 4px;
}
.item-edit-label{
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.item-edit-submit{
  text-align: right;
  padding-top: 20px;
}

